h1 {
    border: 2px #eee solid;
    text-align: center;
    padding: 10px;
}

div#visit-bar {
    background-color: #bbb;
    width: 10%;
    height: 600px;
}

div#visits {
    width: 100%;
    height: 0px;
    position: relative;
    top: 0px;
}

span {
    position: absolute;
    margin-left: 8.5em;
    font-family: Verdana;
}

span#label-1 {
    top: 100px;
}

span#label-2 {
    top: 197px;
}

span#label-3 {
    top: 294px;
}

span#label-4 {
    top: 391px;
}

span#label-5 {
    top: 488px;
}

span#label-6 {
    top: 582px;
}

span#label-7 {
    top: 679px;
}
span#count {
    margin-left: 3em;
}