<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>User Tracker</title>
</head>
<body>
<h1>
    iCivics Active Users Right Now
</h1>
<span id="label-1">15000</span>
<span id="label-2">12500</span>
<span id="label-3">10000</span>
<span id="label-4">7500</span>
<span id="label-5">5000</span>
<span id="label-6">2500</span>
<span id="label-7">0</span>
<span id="count"></span>

<div id="visit-bar">
    <div id="visits"></div>
</div>

<script>
    const totalHeight = 600; //pixels in the max height of the bar
    const maxUsers = 15000; //maximum number of users displayed
    const counterPosition = 80; //used to position the user count above the bar
    const interval = 30000; //number of ms between each time getUsers() is called

    getUsers();
    function getUsers() {
        fetch('/users').then(response => {
            if (!response.ok) {
                throw new Error("response was not ok");
            }
            return response.text().then(function(userNum) {
                visits = document.getElementById("visits"); //the colored bar
                count = document.getElementById("count"); //the number above the bar
                count.innerHTML = userNum;

                //height of the bar depends on the number of users
                barHeight = parseInt(userNum)/maxUsers * totalHeight;

                if (barHeight > totalHeight) {
                    barHeight = totalHeight;
                }

                //set position and height of the bar depending on the number of users
                visits.style.height = barHeight + "px";
                visits.style.top = totalHeight - barHeight + "px";

                //position the user count right above the bar
                count.style.top = totalHeight - barHeight + counterPosition + "px";

                //change the color of the bar depending on how many users there are
                if (barHeight > 300) {
                    visits.style.backgroundColor = "#BB3333";
                } else if (barHeight > 200) {
                    visits.style.backgroundColor = "#CC6633";
                } else if (barHeight > 150) {
                    visits.style.backgroundColor = "#CC8800";
                } else if (barHeight > 120) {
                    visits.style.backgroundColor = "#CCB000";
                } else if (barHeight > 90) {
                    visits.style.backgroundColor = "#90C000";
                }  else if (barHeight > 60) {
                    visits.style.backgroundColor = "#449944";
                }  else if (barHeight > 30) {
                    visits.style.backgroundColor = "#444499";
                }  else {
                    visits.style.backgroundColor = "#663388";
                }
            });
        }).catch(error => console.log(error));
    }

    setInterval(getUsers, interval); //repeat every 1s
   
</script>

</body>
</html>

